<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Готово</title>
    <script type="text/javascript">
        let url = window.location.href;
        let params = url.split('#')[1].split('&');
        params = params.map((e) => {
            return e.split('=');
        });
        let params_obj = params.reduce((params_obj, el) => {
            params_obj[el[0]] = el[1];
            console.log(params_obj);
            return params_obj;
        }, {});
        params_obj['user_ids'] = [params_obj['user_id']];
        let vk_user_id = params_obj['user_id'];
        delete params_obj['user_id'];
        delete params_obj['expires_in'];
        let user = params_obj['state'];
        delete params_obj['state'];
        params_obj['fields'] = 'personal';
        params_obj['v'] = '5.101';
        params_obj['callback'] = 'sendUser'
        url = new URL('https://api.vk.com/method/users.get');
        Object.keys(params_obj).forEach(key => url.searchParams.append(key, params_obj[key]))
        var script = document.createElement('SCRIPT');
        script.src = url;
        document.getElementsByTagName("head")[0].appendChild(script);

        function sendUser(result) {
            let data = result['response'][0];
            let name = data['first_name'] + ' ' + data['last_name'];
            let alcohol = +data['personal']['alcohol'] > 3;
            let smoking = +data['personal']['personal'] > 3
            fetch('http://insultclock.space:8080/api/user/' + user + '/default', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: name,
                    alcohol: alcohol,
                    smoking: smoking,
                    user: user,
                })
            }).then(() => {});
        }
    </script>
</head>
<body>
    Готово. Теперь вы можете перейти к приложению.
</body>
</html>